---
import "../styles/global.css";

const { title, depth, description } = Astro.props;

const siteName = "PlayTip";
const docTitle = (title && `${title} | ${siteName}`) || siteName;

import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{docTitle}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="HTML, CSS, JavaScript, Webdev" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:image" content="https://playtip.kr/playtip.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://unpkg.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sono"
    />
  </head>
  <body class="bg-blue-50">
    <div class={`container max-w-3xl px-4 depth${depth}`}>
      <slot name="nav" />
      <slot name="title" />
      <slot />
    </div>
  </body>
</html>
